{% extends 'layout/basic.html' %}

{% load static %}

{% block title %}
Изменить пароль
{% endblock %}

{% block main %}

<div class="row align-items-center justify-content-center h-100">
    <div class="col-md-5">
       <div class="card p-3">
          <div class="card-body">
             <div class="auth-logo">
                <!-- <img src="{% static 'assets/images/logo.png' %}" class="img-fluid  rounded-normal  darkmode-logo" alt="logo">
                <img src="{% static 'assets/images/logo-dark.png' %}" class="img-fluid rounded-normal light-logo" alt="logo"> -->
             </div>
             <h3 class="mb-3 font-weight-bold text-center">Смена пароля</h3>

             <form method = "post" enctype="multipart/form-data">
                 {% csrf_token %}

                <div class="row">
                   <div class="col-lg-12">
                      <div class="form-group">
                          <span>
                            {% for error in form.errors %}
                                {% if error == 'old_password' %}
                                <div class="alert alert-danger" role="alert">
                                    <div class="iq-alert-text">Ваш старый пароль введен неправильно. Пожалуйста, введите его снова.</div>
                                 </div>
                                 {% elif error == 'new_password2' %}
                                 <div class="alert alert-warning" role="alert">
                                     <div class="iq-alert-text">Ошибка нового пароля!</div>
                                  </div>
                                {% endif %}
                            {% endfor %}
                          </span>
                         <label class="text-secondary">Старый пароль:</label>
                         <input class="form-control" type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
                      </div>
                   </div>

                   <div class="col-lg-12 mt-2">
                      <div class="form-group">
                          <div class="d-flex justify-content-between align-items-center">
                              <label class="text-secondary">Новый пароль:</label>
                              <!-- <label><a href="auth-recover-pwd.html">Forgot Password?</a></label> -->
                          </div>
                         <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
                         <span class="helptext"><ul><li>Пароль не должен быть слишком похож на другую вашу личную информацию.</li><li>Ваш пароль должен содержать как минимум 8 символов.</li><li>Такой пароль часто используется.</li><li>Пароль не может состоять только из цифр.</li></ul></span>
                      </div>
                   </div>

                   <div class="col-lg-12 mt-2">
                      <div class="form-group">
                          <div class="d-flex justify-content-between align-items-center">
                              <label class="text-secondary">Подтверждение нового пароля:</label>
                              <!-- <label><a href="auth-recover-pwd.html">Forgot Password?</a></label> -->
                          </div>
                         <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
                      </div>
                   </div>
                </div>
                <button type="" class="btn btn-primary btn-block mt-2">Изменить</button>

             </form>
          </div>
       </div>
    </div>
 </div>

{% endblock %}